div {
  padding: 5px;
  margin: 5px 0;
  /* border: solid 1px black; */
}

#calendar {
  position: absolute;
  cursor: default;
  font-family: sans-serif;
  background-color: #f4f4f8;
  border-radius: 15px;
}

.date {
  text-align: center;
}

.timeButton {
  padding: 5px;
  margin: 5px 0;
  border-radius: 10px;
}

.timeButton:hover {
  cursor: pointer;
  background-color: #7ebf43;
}

.timeSpace {
  padding-left: 5px;
}

.booked-true {
  background-color: #d8d8d8;
  color: #6b6b6b;
}

.booked-true:hover {
  cursor: default;
  background-color: #d8d8d8;
}

.buttonClicked {
  background-color: #0f8d0f;
}

.buttonClicked:hover {
  background-color: #0f8d0f;
}